body{
  background-color: teal;
  color: azure;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}
button{
  padding: 5px 20px;
  background-color: beige;
  border-style: none;
}
input{
  height: 20px;
}
